<!-- 
  This configures the items and look of the console configuration
  form.  

  "Tab" creates a selection tab with "Name"

  "Input" creates a form input field of "Type"

  The "Tab.Prefix" is combined with the "Input.Suffix" to create
  a tag path into the configuration being edited. This path is also
  used for the default "Name" and the suffix to construct the default
  "Prompt".  

  If a "Tab" has "Repeats", a subtab is created for each repeated
  set of "Input"s with one extra "NEW" tab.

  If an "Input" has "Repeats", a "Add" button will be present to
  add additional copies of the field.
-->

<Config>
  <Tab>
    <Name>General</Name>
    <Prefix>Phineas</Prefix>
    <Input>
      <Suffix>InstallDirectory</Suffix>
      <Type>dir</Type>
    </Input>
    <Input>
      <Suffix>PartyId</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Organization</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
    <Input>
      <Suffix>SoapTemplate</Suffix>
      <Type>file</Type>
    </Input>
    <Input>
      <Suffix>EncryptionTemplate</Suffix>
      <Type>file</Type>
    </Input>
    <Input>
      <Suffix>CpaTemplate</Suffix>
      <Type>file</Type>
    </Input>
    <Input>
      <Suffix>CpaDirectory</Suffix>
      <Type>dir</Type>
    </Input>
    <Input>
      <Suffix>TempDirectory</Suffix>
      <Type>dir</Type>
    </Input>
    <Input>
      <Suffix>LogFile</Suffix>
      <Type>file</Type>
    </Input>
    <Input>
      <Suffix>LogLevel</Suffix>
      <Type>select</Type>
      <Option>debug</Option>
      <Option>info</Option>
      <Option>warn</Option>
      <Option>error</Option>
      <Option>none</Option>
    </Input>
    <Input>
      <Suffix>Console.Url</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
    <Input>
      <Suffix>Console.Root</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
    <Input>
      <Suffix>Console.Config</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
    <Input>
      <Suffix>Receiver.Url</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
  </Tab>
  <Tab>
    <Name>Server</Name>
    <Prefix>Phineas.Server</Prefix>
    <Input>
      <Suffix>Port</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>NumThreads</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>SSL.Port</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>SSL.CertFile</Suffix>
      <Type>file</Type>
    </Input>
    <Input>
      <Suffix>SSL.KeyFile</Suffix>
      <Type>file</Type>
    </Input>
    <Input>
      <Suffix>SSL.Password</Suffix>
      <Type>password</Type>
    </Input>
    <Input>
      <Suffix>SSL.AuthFile</Suffix>
      <Type>file</Type>
    </Input>
  </Tab>
  <Tab>
    <Name>Services</Name>
    <Repeats>true</Repeats>
    <Prefix>Phineas.Receiver.MapInfo.Map</Prefix>
    <Input>
      <Suffix>Name</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Directory</Suffix>
      <Type>dir</Type>
    </Input>
    <Input>
      <Suffix>Queue</Suffix>
      <Type>select</Type>
      <Ref>Phineas.QueueInfo.Queue</Ref>
    </Input>
    <Input>
      <Suffix>Filter</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
    <Input>
      <Suffix>Service</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Action</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Arguments</Suffix>
      <Type>text</Type>
      <Width>80</Width>
    </Input>
    <Input>
      <Suffix>Encryption.Type</Suffix>
      <Type>select</Type>
      <Option/>
      <Option>certificate</Option>
      <Option>LDAP</Option>
    </Input>
    <Input>
      <Suffix>Encryption.Id</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Encryption.Password</Suffix>
      <Type>password</Type>
    </Input>
    <Input>
      <Suffix>Encryption.Unc</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
  </Tab>
  <Tab>
    <Name>Sender</Name>
    <Prefix>Phineas.Sender</Prefix>
    <Input>
      <Suffix>PollInterval</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>MaxThreads</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>CertificateAuthority</Suffix>
      <Type>file</Type>
    </Input>
    <Input>
      <Suffix>MaxRetry</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>DelayRetry</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
  </Tab>
  <Tab>
    <Name>Routes</Name>
    <Repeats>true</Repeats>
    <Prefix>Phineas.Sender.RouteInfo.Route</Prefix>
    <Input>
      <Suffix>Name</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>PartyId</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Cpa</Suffix>
      <Type>24</Type>
    </Input>
    <Input>
      <Suffix>Host</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Path</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Port</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>Protocol</Suffix>
      <Type>select</Type>
      <Option>http</Option>
      <Option>https</Option>
    </Input>
    <Input>
      <Suffix>Timeout</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>Retry</Suffix>
      <Type>text</Type>
      <Width>4</Width>
    </Input>
    <Input>
      <Suffix>Authentication.Type</Suffix>
      <Type>select</Type>
      <Option/>
      <Option>basic</Option>
      <Option>custom</Option>
      <Option>sdn</Option>
      <Option>certificate</Option>
    </Input>
    <Input>
      <Suffix>Authentication.Id</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Authentication.Password</Suffix>
      <Type>password</Type>
    </Input>
    <Input>
      <Suffix>Authentication.Unc</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
    <Input>
      <Suffix>Queue</Suffix>
      <Type>select</Type>
      <Ref>Phineas.QueueInfo.Queue</Ref>
    </Input>
    <Input>
      <Suffix>Name</Suffix>
      <Name>Export.CPA</Name>
      <Type>submit</Type>
    </Input>
  </Tab>
  <Tab>
    <Name>Maps</Name>
    <Repeats>true</Repeats>
    <Prefix>Phineas.Sender.MapInfo.Map</Prefix>
    <Input>
      <Suffix>Name</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Queue</Suffix>
      <Type>select</Type>
      <Ref>Phineas.QueueInfo.Queue</Ref>
    </Input>
    <Input>
      <Suffix>Processor</Suffix>
      <Type>select</Type>
      <Option>ebxml</Option>
    </Input>
    <Input>
      <Suffix>Folder</Suffix>
      <Type>dir</Type>
    </Input>
    <Input>
      <Suffix>Processed</Suffix>
      <Type>dir</Type>
    </Input>
    <Input>
      <Suffix>Acknowledged</Suffix>
      <Type>dir</Type>
    </Input>
    <Input>
      <Suffix>Route</Suffix>
      <Type>select</Type>
      <Ref>Phineas.Sender.RouteInfo.Route</Ref>
    </Input>
    <Input>
      <Suffix>Service</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Action</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Arguments</Suffix>
      <Type>text</Type>
      <Width>80</Width>
    </Input>
    <Input>
      <Suffix>Encryption.Type</Suffix>
      <Type>select</Type>
      <Option/>
      <Option>certificate</Option>
      <Option>LDAP</Option>
    </Input>
    <Input>
      <Suffix>Encryption.Id</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Encryption.Password</Suffix>
      <Type>password</Type>
    </Input>
    <Input>
      <Suffix>Encryption.Unc</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
  </Tab>
  <Tab>
    <Name>Q Types</Name>
    <Repeats>true</Repeats>
    <Prefix>Phineas.QueueInfo.Type</Prefix>
    <Input>
      <Suffix>Name</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Field</Suffix>
      <Repeats>true</Repeats>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
  </Tab>
  <Tab>
    <Name>Connections</Name>
    <Repeats>true</Repeats>
    <Prefix>Phineas.QueueInfo.Connection</Prefix>
    <Input>
      <Suffix>Name</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Id</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Password</Suffix>
      <Type>password</Type>
    </Input>
    <Input>
      <Suffix>Unc</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
  </Tab>
  <Tab>
    <Name>Queues</Name>
    <Repeats>true</Repeats>
    <Prefix>Phineas.QueueInfo.Queue</Prefix>
    <Input>
      <Suffix>Name</Suffix>
      <Type>text</Type>
      <Width>24</Width>
    </Input>
    <Input>
      <Suffix>Type</Suffix>
      <Type>select</Type>
      <Ref>Phineas.QueueInfo.Type</Ref>
    </Input>
    <Input>
      <Suffix>Connection</Suffix>
      <Type>select</Type>
      <Ref>Phineas.QueueInfo.Connection</Ref>
    </Input>
    <Input>
      <Suffix>Table</Suffix>
      <Type>text</Type>
      <Width>44</Width>
    </Input>
  </Tab>
  <Tab>
    <Name>Load/Save/Update</Name>
    <Input>
      <Name>Configuration.File.Name</Name>
      <Type>file</Type>
    </Input>
    <Input>
      <Name>Save.Configuration</Name>
      <Type>submit</Type>
    </Input>
    <Input>
      <Name>Load.Configuration</Name>
      <Type>submit</Type>
    </Input>
    <Input>
      <Name>Update.Configuration</Name>
      <Type>submit</Type>
    </Input>
  </Tab>
</Config>
